body {
  width: 100%;
  height: 100%;
  min-width: 400px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: fit-content;
  min-height: 400px;
  background-color: #fff8e1;
}

.meansy-wrapper {
  display: flex;
  flex-direction: column;
}
.meansy-body {
  padding: 1rem;
}

.navbar {
  height: fit-content;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #e2dbc6;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item.active {
  background-color: #fff8e1;
}

.tab-content {
  display: none;
}

.word {
  margin: 0 !important;
}
.play-audio {
  cursor: pointer;
}
.meaning,
.message,
.wiki-content,
.etymology-content {
  font-weight: 500;
  font-size: 1.15rem;
}

.meaning-title,
.synonyms-title,
.antonyms-title {
  font-size: 1.3rem;
  font-style: italic;
}

.meanings,.synonyms-antonyms {
  font-size: 1.1rem;
  font-weight: 600;
}

.meaning-example {
  color: gray;
  font-size: 0.95rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  align-items: center;
}

.loading-title {
  z-index: 1000;
  font-size: 2rem;
}

.newtons-cradle {
  margin-top: -2.5rem;
  --uib-size: 200px;
  --uib-speed: 1.2s;
  --uib-color: #474554;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--uib-size);
  height: var(--uib-size);
}

.newtons-cradle__dot {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  width: 25%;
  transform-origin: center top;
}

.newtons-cradle__dot::after {
  content: "";
  display: block;
  width: 100%;
  height: 25%;
  border-radius: 50%;
  background-color: var(--uib-color);
}

.newtons-cradle__dot:first-child {
  animation: swing var(--uib-speed) linear infinite;
}

.newtons-cradle__dot:last-child {
  animation: swing2 var(--uib-speed) linear infinite;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }
  25% {
    transform: rotate(70deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
}

@keyframes swing2 {
  0% {
    transform: rotate(0deg);
    animation-timing-function: linear;
  }
  50% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }
  75% {
    transform: rotate(-70deg);
    animation-timing-function: ease-in;
  }
}

@media screen and (max-width: 500px) {
  .newtons-cradle {
    --uib-size: 120px;
  }
}

.read-more-btn {
  display: block;
  margin-top: 10px;
  text-align: right;
}

.read-more-btn a {
  color: #007bff;
  font-size: 1rem;
  text-decoration: none;
}

.read-more-btn a:hover {
  text-decoration: underline;
}
